<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center mt-4 display-4">New Campground</h1>
        <form action="/campgrounds/submit" method="POST" class="valiform" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text"class="form-control" id = "title" name="campground[title]" placeholder="Eg. Camp Rock" required>
                <div class="invalid-feedback">
                    Not Valid
                </div>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <!-- price should not be TEXT -->
                    <input type="text" class="form-control" id = "price" name="campground[price]" placeholder="10.00" aria-label="price" required>
                    <div class="invalid-feedback">
                        Not Valid
                    </div>
                    <div class="valid-feedback">
                        Valid
                    </div>
                </div>
                
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id = "location" name="campground[location]" placeholder="Genborrow Place" required>
                <div class="invalid-feedback">
                    Not Valid
                </div>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id = "description" name="campground[description]" placeholder="This is an example" required></textarea>
                <div class="invalid-feedback">
                    Not Valid
                </div>
                <div class="valid-feedback">
                    Say it!
                </div>
            </div>
            <input type="text" id="image" class="d-none" name="campground[image]" value="http://source.unsplash.com/collection/483251">
        
            <div class="container">
                <div class="row row-cols-auto">
                    <div class="col">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  <div class="col">
                    <a class="btn btn-outline-primary" href="/campgrounds">Back</a>
                    </div>
                </div>
              </div>
        </form>
    </div>
</div>



<!-- 
<h1 class="display-4 lead">Campgrounds Form</h1>

<form action="/campgrounds/submit" method="POST">
    <div class="card d-flex flex-column mb-auto " style="width: 25rem;">
        <img src=" " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center " >Enter here:</h5>
          <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label for="title">Title</label>
                <input type="text" id = "title" name="campground[title]" placeholder="Eg. Camp Rock">
            </li>
            <li class="list-group-item">
                <label for="price">Price</label>
                <input type="text" id = "price" name="campground[price]" placeholder="Eg. 40000.00">
            </li>
            <li class="list-group-item">
            <label for="description">Description</label>
                <input type="text" id = "description" name="campground[description]" placeholder="Eg. This a example">
            </li>
            <li class="list-group-item">
                <label for="location">Location</label>
                <input type="text" id = "location" name="campground[location]" placeholder="Eg. Anywhere and Always">
            </li>
                        
        </ul>
        <div class="card-body">
            <button type="submit" class="btn btn-outline-success">Submit</button>
            <a href=""></a>
            <a href="/campgrounds" class="card-link ">ALL Campgrounds</a>
        </div>
        <input type="hidden" id = "image" name="campground[image]" placeholder="Eg. DONT CHANGE" value="http://source.unsplash.com/collection/483251">
        
</form> -->

  