<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center mt-4 display-4">Report Error!</h1>
        <form action="/campgrounds/report" method="POST" class="valiform" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text"class="form-control" id = "name" name="report[name]" placeholder="Eg. John Doe" required>
                <div class="invalid-feedback">
                    Not Valid
                </div>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
            <div class="mb-3">
                <label for="error" class="form-label">Error</label>
                <input type="text" class="form-control" id = "error" name="report[error]" placeholder="Genborrow Place" value=" <%= err %>  " required>
                <div class="invalid-feedback">
                    Not Valid
                </div>
                <div class="valid-feedback">
                    Valid
                </div>
            </div>
        
            <div class="container">
                <div class="row row-cols-auto">
                    <div class="col">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  <div class="col">
                    <a class="btn btn-outline-primary" href="/campgrounds">Back</a>
                    </div>
                </div>
              </div>
        </form>
    </div>
</div>
